body {
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    padding-top: 1em;
    background-image: url('../Media/background.jpg');
    font-family: 'Roboto';
}

#character-input-container {
    margin-top: 5%;
}

#infoColumn {
    padding: 0 14px;
}

.ui.segment {
    background: rgba(255, 255, 255, .85);
}

#characterImage {
    width: 100%;
}

#nameRow {
    text-align: center;
}