#submitButton {
    width: 20%;
    padding: 6px;
    font-size: .45em;
    border: 1px solid #000009;
    color: white;
    background-image: -webkit-linear-gradient(top, #3F7A8B, #148981);
}

#name, #realm{
    color: white;
    background-color: #0b122f;
    /*border: 1px solid;
    border-color: #EDBB6E;*/
    height: 30px;
    padding: 2px;
    padding-left: 20px;
    opacity: .7;
    outline:none;
}

#name:focus, #realm:focus {
    color: white;
    opacity: 1;
    border: 1px solid;
    border-color: #EDBB6E;
}

#name:valid, #realm:valid {
    color: white;
    opacity: 1;
    border: 1px solid;
    border-color: #EDBB6E;
    
}

#charRequest {
    text-align: center;
    display:block;
    font-size: 2em;
}

